@font-face {
    font-family: 'GL';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GM';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GB';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
:root{
    --colorGreen : #cedfc3;
    --colorDGreen :#647468;
    --colorBg : #f8f8e7;
    --colorBtn : #ce5561;
    --colorGBg : #d6e3ca;
    --colorYellow : #e8e6ac;
}

body{
    font-family: 'GM';
    color: #474747;
}
.container{
    max-width: 1280;
    margin: 0 auto;
}

#mainbanner{
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    height: 55vw;  /* 사진 너비를 100으로 하면 비율이 나온다, 반응형 처리 완료*/ 
}
#mainbanner img{
    max-height: 676px;
    width:35vw;
}

#mainbanner .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

#introduce{
    background-color: var(--colorBg);
}

#introduce .container{

}
.description{
    display: inline-flex;
    margin-top: -5rem;
    width: 100%;
    font-family: 'GM';
    font-size: 1.5rem;
    line-height: 1.2;
    justify-content: center;
}

.description li{
    display: inline-block;
    background-color: var(--colorGreen);
    flex-grow: 1;/*나머지 영역만큼 늘어나거나 축소한다*/
    margin: 0 0.5rem;
    padding: 1rem;
    background-repeat:no-repeat;
    background-size: auto 50%;
    background-position: top right;
    border: 1.5rem solid var(--colorGreen);
    max-width: 10rem;
    
}
.description li p{
    color: var(--colorDGreen);
    margin-top: 5rem;
}
.description .face1{
    background-image: url(../img/face1.png);
    
}
.description .face2{
    background-image: url(../img/face2.png);
}
.description .face3{
    background-image: url(../img/face3.png);
}
.description .face1:before{
    content: "01";
}
.description .face2:before{
    content: "02";
}
.description .face3:before{
    content: "03";
}